*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Spartan', sans-serif;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background-color: #E3E6F3;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-links i.fa-times{
    display: none;
}

.mobile-nav-btn{
    display: none;
}

.mobile-nav-btn a{
    color:#1a1a1a;
}

.nav-anchors{
    padding: 0 1rem;
    text-decoration: none;
    font-weight: 500;
    transition: 150ms color ease-in;
}

.mobile-nav-btn .nav-anchors{
    padding: 0;
    margin-right: 30px;
}

.nav-links a{
    color: #1a1a1a;
    position: relative;
}

.nav-links a:visited{
    color: #1a1a1a;
}

.nav-links a:hover, .nav-links a.active{
    color: hsl(194, 58%, 42%);
}

.nav-links a.active::after, .nav-links a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: hsl(194, 58%, 42%);
    position: absolute;
    bottom: -4px;
    left: 16px;
}

.hamburger{
    display: none;
}

.generic-button{
    width: 150px;
    height: 40px;
    font-size: 0.88rem;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.generic-button:hover{
    background-color: #088178;
    color:#e2e2e2;
    transition: 250ms background-color,color ease-in;
}

.hero{
    background-image: url("hero.png");
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-position: top 1% right 0;
    padding: 50px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero p{
    font-size: 1.3rem;
    font-weight: 700;
    margin: 17px 0 10px 0;
}

.hero h1{
    font-size: 3.2rem;
    margin-top: 3px;
    color: #088178;
}

.hero h2{
    font-size: 2.8rem;
}

.shop-now-button{
    width: 230px;
    height: 50px;
    background-image: url("button.png");
    background-color: transparent;
    border:0;
    color: #088178;
    font-size: 1.2rem;
    font-weight: 600;
}

.shop-now-button:hover{
    cursor: pointer;
    transition: 250ms cursor ease-in;
}

.features{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 50px 0 50px;
}

.features div{
    background-color: rgba(243, 255, 243, 0.938);
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    transition: 70ms box-shadow ease-in;
}

.features div:hover{
    box-shadow: 3.5px 4px 17px rgba(0, 0, 0, 0.25);
}

.features div h4{
    font-size: 0.9em;
    margin-top: 14px;
    background-color:#bbdfbf;
    padding: 7px;
    border-radius: 5px;
    font-weight: 800;
}

.features-haeding{
    font-size: 2.2em;
    color:#088178;
    margin-top: 70px;
    margin-bottom: 20px;
    text-align: center;
}

.featured-head, .new-arrival-head{
    text-align: center;
    color:#088178;
    margin: 60px 0 10px 0;
    font-size: 2.2rem;
}

.featured-text, .new-arrival-text{
    text-align: center;
    color: #838383
}

.featured-products, .new-arrival-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 50px 70px 50px;
}

.product{
    margin: 30px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    transition: 60ms box-shadow ease-in;
    position: relative;
}

.product:hover{
    box-shadow: 2.5px 3px 18px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.featured-products div img{
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.new-arrival-products div img{
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.feat-price, .new-arrival-price{
    color:#088178;
    font-size: 1rem;
    font-weight: 700;
    padding: 5px 0px;
    margin-top: 2px;
}

.feat-price, .new-arrival-price:hover{
    cursor:text;
}

.adidas{
    padding: 5px 0px;
    color:#6d6d6d;
}

.product-name{
    padding-bottom: 5px;
}

.fa-star{
    color:rgb(241, 184, 39);
}

.new-arrival-products div:nth-child(7) .fa-star:nth-of-type(5){
    color:#7a7a7a;
}

.product h5{
    color:#575757;
    font-size: 0.95em;
    margin-bottom: 1px;
}

.fa-shopping-cart{
    width: 35px;
    height: 35px;
    line-height: 20px;
    background-color: #e2e2e2;
    border-radius: 50px;
    position: absolute;
    right: 12px;
    bottom: 12px;
    padding: 8px;
    text-decoration: none;
    color:#088178;
    transition: 200ms transform ease-in;
}

.fa-shopping-cart:hover{
    transform: scale(1.1);
}

.call2action{
    width: 100%;
    height: 50vh;
    padding: 40px 0 45px 30px;
    background-image: url(banner/b2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.call2action p{
    font-size: 1.5rem;
    color:#e2e2e2;
    font-weight: 900;
}

.call2action span{
    color:rgb(221, 45, 45);
}

.call2action h1{
    font-size: 2.3rem;
    color:#e2e2e2;
}

.banners-section h2{
    font-size: 2.2rem;
    color:#ffffff;
}

.banners-section h4{
    font-size: 1.2rem; 
    color:#ffffff;
}

.banners-section h5{
    color:#ffffff;
    margin-top: 15px;
}

.banners-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 31px;
    padding: 30px 80px 50px 80px;
}

.banners-section div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;    
    min-width: 580px;
}

.banners-section button{
    margin: 20px 20px 20px 0;
}

.banners-section .first{
    background-image: url(banner/b17.jpg);
}

.banners-section .second{
    background-image: url(banner/b10.jpg);
}

.posters{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px 80px 50px 80px;
}

.posters div{
    background-position: center;
    background-size: cover;
    min-width: 380px;
    height: 200px;
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.posters .div1{
    background-image: url(banner/b7.jpg);
}

.posters .div2{
    background-image:url(banner/b4.jpg);
}

.posters .div3{
    background-image:url(banner/b18.jpg);
}

.posters h1{
    font-size: 2rem;
    color:#ffffff;
    font-weight: 900;
    margin-bottom: 5px;
}

.posters h3{
    font-size: 1.5rem;
    color: rgb(114, 17, 0);
}

.newsletters{
    background-color: #041e42;
    background-image: url(banner/b14.png);
    background-repeat: repeat;
    background-position: center;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    margin: 50px 0 40px 0;
}

.newsletters h1{
    font-size: 2.1rem;
    color:#ffffff;
    margin-bottom: 10px;
}

.newsletters .news-text{
    margin: 20px 30px 20px 0;
}

.newsletters span{
    color:#ffc400;
}

.newsletters h5{
    font-size: 1rem;
    color:#ffffff;
}

.newsletters .email{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px 0 20px 0;
}

.newsletters input{
    width: 400px;
    height: 50px;
    padding: 0 15px;
    font-size: 15px;
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.newsletters button{
    width: 80px;
    height: 50px;
    border: none;
    background-color:#088178;
    color: white;
    font-size: 0.9rem;
    font-weight: 900;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer{
    font-size: 1rem;
    padding: 20px 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color:#1a1a1a;
}

.footer-logo-column, .footer-about, .footer-install-app, .footer-my-account{
    margin-top: 20px;
}

.footer-logo, footer h4{
    margin-bottom: 12px;
}

footer a{
    font-size: .95rem;
    margin-bottom: 8px;
    text-decoration: none;
    color: #1a1a1a;
}

footer .follow-us{
    margin-bottom: 5px;

}

footer .follow{
    margin-top: 8px;
    margin-bottom: 5px;
}

footer i{
    margin-right: 5px;
}

.footer-about, .footer-my-account{
    display: flex;
    flex-flow: column wrap;
}

.appstore, .playstore{
    border: 1px solid #1a1a1a;
    border-radius: 5px;
}

.footer-install-app img{
    margin: 12px 0px;
}

footer a:hover, footer i:hover{
    color: #088178;
}

footer a, footer i{
    transition: 100ms ease-in;
}

footer .copyright{
    margin-top: 30px;
    width: 100%;
    text-align: center;
    color: #575757;
}



/* ---------------------------MEDIA QUERIES---------------------------*/ 
@media (max-width: 799px){
    .nav{
        padding: 10px 60px 10px 15px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0px;
        right: -500px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: right 300ms ease-out;
    }

    .mobile-nav-btn{
        display: initial;
        transition: display 300ms ease-out;;
    }

    .hide{
        display: none;
    }

    .nav-links i.fa-shopping-bag{
        display: none;
    }

    .active i.fa-times{
        display: initial;
        position: fixed;
        top: 40px;
        right: 40px;
        transition: display 600ms ease-out;
    }

    .nav-links a{
        margin-bottom: 30px;
    }

    .hamburger{
        display: initial;
    }

    .hamburger i{
        font-size: 24px;
        color: #1a1a1a; 
        z-index: 5;
    }
    
    .active{
        right: 0px;
    }

    .hero{
        height: 80vh;
        padding: 50px 10%;
        background-position: top 30% right 0;
    }

    .features{
        padding: 0 80px;
        gap: 50px;
    }

    .call2action {
        height: 50vh;
        padding: 40px 40px 45px 30px;
    }

    .call2action h1{
        font-size: 2.2rem;
    }

    .posters div{
        min-width: 500px;
        background-position: top;
    }

}

@media (max-width: 625px)  {
    .nav{
        padding: 10px 40px 10px 15px;
    }

    .call2action{
        height: 50vh;
    }

    .banners-section{
        padding: 30px 40px 50px 40px;
    }

    .banners-section div{
        flex-wrap: wrap;
        align-content: center;
        min-width: 440px;
    }

    .posters div{
        min-width: 340px;
    }

    .posters{
        padding: 30px 40px 50px 40px;
    }

    .newsletters{
        padding: 40px 30px 40px 20px;
    }

    footer{
        padding: 20px 40px;
    }
}


@media (max-width: 475px)  {
    .nav{
        padding: 10px 40px 10px 15px;
    }

    .nav-links{
        width: 45%;
    }

    .hero h2{
        font-size: 2.2rem;
    }

    .hero h1{
        font-size: 2.7rem;
    }

    .features{
        padding-left: 15px;
        padding-right: 15px;
        gap: 20px;
    }

    .features div img{
        width: 110px;
        height: 75px;
    }
    
    .features div h4{
        font-size: 0.7rem;
    }

    .features div{
        margin: 10px;
    }
    .new-arrival-products div img, .featured-products div img{
        width: 250px;
        height: 250px;
    }

    .call2action{
        height: 45vh;
    }

    .banners-section div{
        flex-wrap: wrap;
        align-content: center;
        min-width: 300px;
    }

    .banners-section{
        padding: 30px 30px 50px 30px;
    }

    .posters div{
        min-width: 325px;
    }
    
    .newsletters {
        padding: 40px 20px;
    }

    .newsletters input{
        width: 270px;
    }

    footer{
        padding: 20px 35px;
    }
}

@media (max-width: 386px)  {
    .nav i{
        font-size: 1.2rem;
    }

    .call2action{
        height: 50vh;
        padding: 20px 30px 30px 30px;
    }

    .call2action p{
        font-size: 1.3rem;
    }
    .call2action h1{
        font-size: 1.6rem;
    }

    .newsletters input{
        width: 240px;
    }

    .new-arrival-products div img, .featured-products div img{
        width: 200px;
        height: 200px;
    }

    .posters div{
        min-width: 285px;
    }
}

@media (max-width: 325px)  {
    .nav i{
        font-size: 1rem;
    }

    .new-arrival-products div img, .featured-products div img{
        width: 180px;
        height: 180px;
    }

}